<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_Practice_Project.Properties.Settings.CRUD_Practice_ProjectConnectionString"
            connectionString="Data Source=jayy\sqlexpress;Initial Catalog=&quot;CRUD Practice Project&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>